.tabbable-panel {
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > img {
  width: 20px;
}

.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

body {
  background-color: #edeff4;
}

a:hover, a:focus {
  text-decoration: none;
}

/* ----- mixin ----------*/
/*----- padding & margin set ----*/
.padding {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.margin {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.section {
  background-color: #FFFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

/* ------ Header -----*/
.header {
  background-color: #1e2024;
}

.contact {
  text-align: right;
}
.contact > a::before {
  content: "\2F";
  display: inline-block;
  color: #6b6d70;
  margin: 0 16px 0 14px;
}

.top-tab {
  background-color: #292c31;
  padding: 10px 0 10px 5px;
  color: #f1f1f1;
}
.top-tab a {
  color: #f1f1f1;
  font-size: 12px;
}

.header_logo {
  position: absolute;
  left: 16px;
  bottom: 20px;
  z-index: 3;
}
.header_logo img {
  width: 154px;
}

.main-tab {
  border-color: transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
}
.main-tab .container {
  position: relative;
}
.main-tab .main-menu {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-tab .main-menu > li {
  position: relative;
  float: left;
}
.main-tab .main-menu > li > a {
  display: block;
  color: white;
  padding: 20px 45px 20px 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index: 5;
}
.main-tab .main-menu > li {
  position: relative;
}
.main-tab .main-menu > li.active > a {
  background-color: #38a9ff;
  z-index: 5;
  margin-right: 16px;
}
.main-tab .main-menu > li.active > a::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #38a9ff;
  margin-left: 0;
  z-index: -1;
  -moz-transform: skew(-25deg, 0);
  -ms-transform: skew(-25deg, 0);
  -webkit-transform: skew(-25deg, 0);
  transform: skew(-25deg, 0);
  left: -25px;
}
.main-tab .main-menu > li.active > a::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #38a9ff;
  margin-left: 0;
  z-index: -1;
  -moz-transform: skew(-25deg, 0);
  -ms-transform: skew(-25deg, 0);
  -webkit-transform: skew(-25deg, 0);
  transform: skew(-25deg, 0);
  background-color: #292c31;
  right: 0;
  z-index: 1;
}
.main-tab .warpper-main-menu {
  max-height: 61px;
  position: relative;
  background-color: #292c31;
  text-align: right;
  z-index: 2;
}
.main-tab .warpper-main-menu::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 218px;
  background-color: #1e2024;
  left: -25px;
  margin-left: 0;
  -moz-transform: skew(-25deg, 0);
  -ms-transform: skew(-25deg, 0);
  -webkit-transform: skew(-25deg, 0);
  transform: skew(-25deg, 0);
}
.main-tab::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #292c31;
}

/* ------ !!!!! Header -----*/
.topic-title {
  padding: 15px 0 15px 15px;
  background-color: #5c5c5c;
  border-bottom: 3px solid #246114;
}
.topic-title h2 {
  font-size: 16px;
  color: #FFFFFF;
}

.banner-top {
  position: relative;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-bottom: 9px;
  margin-top: 9px;
  height: 90px;
  overflow: hidden;
  background-color: #00CC00;
  float: right;
}

/* ------ Footer -----*/
.footer {
  margin-top: 15px;
  padding-top: 20px;
  background-color: #1e2024;
  color: rgba(154, 157, 162, 0.8);
}
.footer .title {
  color: #FFFFFF;
}
.footer p {
  color: rgba(154, 157, 162, 0.8);
}
.footer .footer-tab {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
}
.footer .footer-tab a {
  color: #FFFFFF;
}
.footer .footer-tab a:hover {
  color: #38a9ff !important;
}

.warper-ribbon {
  position: relative;
  width: 20px;
}

.ribbon, .ribbon.silver, .ribbon.copper {
  display: block;
  position: absolute;
  width: 26px;
  height: 28px;
  background-color: #fed537;
  top: -20px;
  left: 5px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #000;
  font-weight: 400;
}
.ribbon::before, .ribbon.silver::before, .ribbon.copper::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  border-top: 6px solid #fed537;
  border-right: 13px solid transparent;
}
.ribbon::after, .ribbon.silver::after, .ribbon.copper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  right: 0;
  border-top: 6px solid #fed537;
  border-left: 13px solid transparent;
}
.ribbon.silver {
  background-color: #c9c9c9;
}
.ribbon.silver::before {
  border-top: 6px solid #c9c9c9;
}
.ribbon.silver::after {
  border-top: 6px solid #c9c9c9;
}
.ribbon.copper {
  background-color: #C87533;
}
.ribbon.copper::before {
  border-top: 6px solid #C87533;
}
.ribbon.copper::after {
  border-top: 6px solid #C87533;
}

/*------ Profile -----*/
.shot-profile {
  padding: 10px;
}
.shot-profile .full-name {
  font-size: 18px;
}
.shot-profile .alias {
  margin-top: 10px;
  color: #5f5f5f;
}
.shot-profile .line {
  border-right: 0.5px dashed #a7a7a7;
}
.shot-profile .level, .shot-profile .point {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
.shot-profile .number {
  font-size: 30px;
}

.reward {
  padding-top: 15px;
  padding-bottom: 15px;
}
.reward .reward-title {
  text-align: center;
}

/*------ chat box -----*/
.warpper-chat {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.chat-box {
  min-height: 400px;
  padding: 10px;
}
.chat-box > .chat-message {
  margin-bottom: 5px;
}
.chat-box > .chat-message.admin {
  color: #246114 !important;
  text-decoration: underline;
}
.chat-box > .chat-message .chat-user {
  color: #afafaf;
  display: inline-block;
  margin-right: 5px;
}
.chat-box > .chat-message > img {
  width: 30px;
  height: 30px;
}

.warpper-input-message {
  background: rgba(238, 238, 238, 0.4);
}
.warpper-input-message > .text-word {
  padding-left: 50px;
  padding-bottom: 10px;
  color: #8a8a8a;
}

.input-message {
  position: relative;
  display: table;
  width: 100%;
  height: 60px;
  border-collapse: separate;
  border-top: 0.5px solid #c9c9c9;
  padding-top: 10px;
}
.input-message > input {
  position: relative;
  display: table-cell;
  outline: 0;
  width: 100%;
  min-height: 40px;
  padding-left: 10px;
  z-index: 2;
  box-sizing: border-box;
  border-color: transparent;
  border-bottom: 1px solid #c9c9c9;
  margin-left: 5px;
  background-color: transparent;
}
.input-message > span {
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  display: table-cell;
  width: 1%;
}
.input-message > span > img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.input-message > span > button {
  border-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-height: 40px;
  background-color: transparent;
  font-size: 18px;
  color: #8a8a8a;
}
.input-message > span > button > :hover, .input-message > span > button > :focus, .input-message > span > button > :active {
  border: transparent;
  outline: 0;
}

.nav-title {
  position: relative;
  padding: 15px 0 15px 20px;
  display: table;
  background-color: #ffffff;
  font-size: 20px;
  border-left: 5px solid #38a9ff;
}
.nav-title h2 {
  margin: 0;
  display: table-cell;
  width: 100%;
  font-size: 18px;
  color: #31404b;
}
.nav-title h2 > .title-text {
  display: inline-block;
  height: 32px;
  margin-bottom: -10px;
}
.nav-title span {
  display: table-cell;
}
.nav-title span > input {
  outline: 0;
  border-color: transparent;
  min-height: 42px;
  font-size: 16px;
  padding-right: 10px;
  text-align: right;
  margin-bottom: -14px;
  margin-top: -10px;
  border-top-left-radius: 5px;
  border-bottom: 0.5px solid #c9c9c9;
}

.nav-block {
  display: block;
}

.nav-footer {
  padding: 10px 0 10px 0;
  background: #f7f9fa;
  border-top: 0 solid transparent;
  padding-left: 15px;
  position: relative;
}

.pager {
  margin: 0;
  display: inline-block;
  text-align: left;
  float: right;
  padding-right: 20px;
}
.pager > li > a {
  padding: 0 5px;
  color: #000000;
}

.more {
  margin-right: 10px;
}

/* ----- Table ------*/
.table-custom {
  width: 100%;
}
.table-custom th {
  padding: 13px 0 13px 0;
  color: #000000;
}
.table-custom td {
  padding: 7px 0 7px 0;
  border-top: 0.5px solid #efefef;
}
.table-custom td.row-leagues {
  padding-left: 20px;
  background-color: #989898;
  color: #FFFFFF;
}
.table-custom td.row-leagues > img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.table-custom .match-date {
  color: #8a8a8a;
  font-size: 10px;
}
.table-custom .match-date.text-success {
  color: green;
}
.table-custom .match-price img {
  width: 10px;
}
.table-custom .channel img {
  height: 16px;
}
.table-custom a {
  color: #31404b;
}

.table-score a {
  color: #2f2f2f;
}

.table-rank td {
  padding: 10px 0 10px 0;
}
.table-rank td img {
  width: 20px;
  height: 20px;
}

.small-text {
  color: #8a8a8a;
  font-size: 10px;
}

.hilight p {
  padding: 5px;
}

.badge-none {
  background-color: transparent;
  color: #616161;
  border: 0.5px solid #38a9ff;
  font-size: 12px;
}

.label {
  font-weight: 300 !important;
}
.label.label-success {
  background-color: #87d887;
}

.bet-win {
  font-weight: 700;
  color: #ff6d6d;
  text-decoration: underline;
}

/*----- TAB -----*/
/* Tabs panel */
/***** LOGIN BOX *****/
.account-box {
  z-index: 3;
  font-size: 13px !important;
  font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

.form-signin .form-control {
  outline: none;
  border: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  transition: .5s ease;
}
.form-signin .form-control:focus {
  border-bottom: 1px solid rgba(213, 23, 19, 0.6);
}

.forgotLnk {
  margin-top: 10px;
  display: block;
}

.purple-bg {
  background-color: #6E329D;
  color: #fff;
}

.or-box {
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  margin-top: 20px;
}

.or {
  color: #666666;
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 40px;
  left: 45%;
}

.account-box .btn:hover {
  color: #fff;
}

.btn-facebook {
  background-color: #3F639E;
  color: #fff;
  font-weight: bold;
}

.btn-google {
  background-color: #454545;
  color: #fff;
  font-weight: bold;
}

.alert.error {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 6px;
  border-color: transparent;
}
