/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Oswald|Russo+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    overflow-x: hidden;
}
   url('Oswald-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */       
}

header {
	padding:10px 0 0 0;
	background: #e2e2e2;
}

.spacer {
	height: 10px;
}

.divider {
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#EEE;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
#div-top-right {
	margin-top: 10px;
	padding: 10px 0;
	/*background: #cecece;*/
}

#div-top-search .navbar-form {
	-webkit-box-shadow: none;
	box-shadow: none;
}


.btn-blue {
	background: #2f7bbf; 
	background: -moz-linear-gradient(top,  #2f7bbf 0%, #1a568c 100%); 
	background: -webkit-linear-gradient(top,  #2f7bbf 0%,#1a568c 100%); 
	background: linear-gradient(to bottom,  #2f7bbf 0%,#1a568c 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7bbf', endColorstr='#1a568c',GradientType=0 ); 
	border: #004e93;
	color: #fff;	
	text-shadow: none;
	min-width: 100px;
}

.btn-blue:hover {
	background: #002c53;
	background-position: 0;
	color: #fff;	
	text-shadow: none;	
}

.btn-wide {
	width: 100%;
}

.nav-red {
	background: #be0000 !important;
	color: #fff !important;
	min-width:165px;
}

.dropdown-menu .nav-red {
	min-width:160px;
	border: none;
	}

/* Nav */
.bs-component {
	margin-top: 20px;
}
.navbar {
    font-size: 13px;
    font-weight: 300;
	border-radius: 0;
}

.navbar-collapse {
    text-align: center !important;
}

.navbar-nav {
	display: inline-block !important;
    float: none !important;
}

.navbar-default {
	background: #333333;
    border-top: 5px solid #272727;
	border-bottom: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
	text-shadow: none;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
    background-color: #272727;
	background-image: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #272727;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #272727;	
}

.navbar-default a {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform: uppercase;
}
.btn-facebook {
	margin-top:9px;
}

/* Content*/
#content {
	margin-top: -10px;
}

.content-left {
	padding: 0;
}

.content-right {
	padding: 0 0 0 10px;
}



.table {
	margin: 0;
}

.top-news {
	padding:10px;
    margin: 10px 0;
	background: #282828;
}

.row-top-news{
	margin-bottom:10px;
}

.col-top-news{
	padding:10px;
	background: #282828;
}
.menu-text{
	color:#EEE !important;
}

.more-news{
	border-radius: 0;
	color:#EEE;
	background: #282828;
	text-decoration: underline;
}

.top-news-list {
	padding: 0;
	float: left;
	width: 18.7%;
    overflow: hidden;
    position: relative;
    margin: 0 5px;
}

.top-news-list:first-child {
}


.top-news-image {
	background-size: cover;	
	height: 125px;
	background-position: center center;
}

.top-news-image a {
    display: block;
    width: 100%;
    height: 125%;
}

.top-news-text {
    width: 100%;
    height: 67px;
    text-decoration: none;
}

.top-news-title {
	margin: 5px;
	line-height: 1.25em;
    color: #fff;
    font-size: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
	overflow: hidden;
}

.top-news-title a {
	color: #fff;
}

.top-news-date {
	margin: 0 5px;
	font-size: 12px;
	color: #999;
}

.panel-body {
	padding: 10px;
	border: none;
}

.panel-body li {
	margin-bottom: 10px;
}

.panel {
	margin-bottom: 10px;
	border-radius: 0;
	border: 1px solid #ccc;
}

.panel-primary>.panel-heading {
	border-radius: 0;
	background: #333;
	border-bottom: none;
	text-transform: uppercase;
}

.panel-blue {
	border: none;	
}

.panel-blue>.panel-heading {
	background: #337ab7;
}

.panel-blue .panel-body {
	padding: 0;
}

.form-horizontal .control-label {
	text-align: left;
}

.table-tipster {
	padding: 10px;
}
.table-champion{
	border-top:1px solid #ccc;
	border-bottom:1px solid #CCC;
	background: #FFF;
}
.table-champion .table-tipster {
	border-right: 1px solid #ccc;
}

.table-tipster-heading {
	background: #2f7bbf;
	color: #fff;
	text-transform: uppercase;
}

.table-tipster .fa-bar-chart {
	font-size: 18px;
}

.btn-stat {
	min-width: 35px !important;
}

/* WAG */
#cycler {
	position:relative;
	width: 100%;
	height:300px;
	overflow: hidden;
}
#cycler img	{position:absolute;z-index:1;}
#cycler img.wide{
	/*max-width: 100%;*/
	min-height: 100%;
	height: 100%;
    
    width: auto;
}
#cycler img.tall{
	min-width: 100%;
	width: 100%; 
	/*max-height: 100%;*/
    height: auto;
}

#cycler img.active	{z-index:3}

/*Banner Ads*/
.top-ads {
	margin-bottom: 10px;
}

#bannerLWrapper {
    top: 10px;
	left: -130px;
    position: relative;
    width: 160px;
}

#bannerRWrapper {
	top: 10px;
    right: -170px;
    position: relative;
    width: 160px;
    float: right;}

#bannerL {
    position: absolute;
    top: -20px;
    margin-top: 10px;
}

#bannerR {
    position: absolute;
    top: -20px;
    margin-top: 10px;
}

.itembanner {
	margin-bottom: 10px;
}

.itembanner img {
	width: 120px;
}

.sticky {
    position: fixed !important;
    width: 100% !important;
    top: 30px !important;
    border-top: 0 !important;
}

.ads-banner {
	padding: 0;
	margin-bottom: 10px;
}





/* Footer */
footer {
	padding: 30px 0;
	background: #333;
	color: #fff;
}

/* Agen Bola */
.agen-bola {
	margin-left:-5px;
	margin-right:-5px;
	
}

.agen-bola-inner {
	padding: 0;	
}

.agen-bola-thumbs {
	min-height: 200px !important;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px;
}

.agen-bola-thumbs-img {
	position: relative;
	width: 100%;
	height:100px;
	overflow: hidden;
}

.agen-bola-thumbs img {
	width: 100%;
	position:absolute;
	top: -15px;
}

.agen-bola-score {
	padding-right: 10px;
	font-size: 2em;
	font-family: 'Oswald';
	color: #337ab7;	
	line-height: 35px;
}

.agen-bola-title {
	font-weight: bold;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: block;
}

.agen-bola-link {
	margin-bottom: 5px;
    height: 12px;
    font-size: 12px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 12px;
}

.agen-detail-thumbs {
	overflow: hidden;
}

.agen-detail-thumbs img {
	max-width: 100%;
}

/* Blacklist */
td {
	vertical-align: middle !important;
}

thead {
	background: #787878;
	color: #fff;
}

.berita-box {
	padding: 10px;
	border: 1px solid #ccc;
}

.berita-thumb {
	background-size: cover;	
	height: 100px;
}

.berita-date {
	margin-bottom: 5px;
	font-size: 11px;
}

.berita-excerpt {
	margin-bottom: 5px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
}

.berita h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
}

.berita-section {
	padding: 5px 0;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.berita-section:last-child {
	border: 0 !important;
}

.berita-image {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.berita-image img { 
	width: 100%;
}

.galeri-row {
    -moz-box-shadow: 0 1px 8px #ccc;
    -webkit-box-shadow: 0 1px 8px #ccc;
    box-shadow: 0 1px 8px #ccc;
    float: left;
    position: relative;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 4px;
}


.boxgrid {
    width: 175px;
    height: 150px;
    margin: 1px;
    float: left;
    background: #FFF;
    overflow: hidden;
    position: relative;
}

.boxgrid img, .postergrid img, .profilgrid img, .galerigrid img {
    top: 0;
    left: 0;
    border: 0;
    display: inline-block;
}

.pict-galeri {
    max-width: 250px;
    max-height: 250px;
}

.boxcaption {    
    padding: 5px;
    position: absolute;
    top: 120px;
    left: 0;
    background: #FFF;
    height: 100px;
    width: 100%;
    opacity: .8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    text-align: center;
}

.galerigrid {
	width: 130px;
    height: 130px;
    overflow: hidden;
}
.panel-title{
	text-transform: capitalize;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}


.row .col-md-15:not(:first-child){
	padding-right: 5px;
	padding-left: 5px;
}
.row .col-md-15:not(:last-child){
	padding-left: 5px;
	padding-right: 5px;
}
.row .col-md-15:first-child{
	padding-left: 10px;
}

.row .col-md-15:last-child{
	padding-right: 10px;
}

.btn-login{
	margin-top: 8px;
	padding:6px 12px !important;
}

.user_credential{
	margin-top: 8px;
	padding:6px 6px 0px 0px!important;
}
span.cred_username {
    color: #aeb700;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.navbar-login>li>a:focus, .navbar-login>li>a:hover{
	background: #002c53;
}
.panel-tipster .img-responsive {
    margin: 0 auto;
    vertical-align: middle
}
.valign-helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.tipster-value{
	display: block;
}
.tipster-val{
	padding:10px;
}
.tipster-val:not(:first-child){
	border-left:1px solid #CCC;
}

.tipster-label div:not(:first-child){
	border-left:1px solid #CCC;
}
.col-stat-icon{
	padding:10px;
}
.col-tipster-val{
	border-right:1px solid #CCC;
}
.panel-no-padding, .col-no-padding{
	padding:0;
	border-collapse: 
}
.col-padding{
	padding:10px;
}
.row-flex{
	display: flex;
}
.col-flex{
	
}

.bg-gray{
	background:#EEE;
}
.website-options-div{
	margin:0 auto;
}

.btn-loadmore{
	margin-top:15px;
}
.comment-username{
	display: block !important;
	font-size:1.2em;
	margin-bottom:5px;
}
.comment-date{
	color:#AAA;
}

.disabled-like{
	cursor: default !important;
}

.disabled-like-bg{
	background:#999 !important;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 993px) and (min-width: 768px) {

	.ads-banner:nth-child(1) {
		padding: 0 5px 0 0;
	}
	.ads-banner:nth-child(2) {
		padding: 0 0 0 5px;
	}
}
@media (min-width:1200px){
	.table-tipster-date {
		height: 60px;
	}
}
@media (max-width:1199px){
	.table-tipster-date {
		border-bottom: 1px solid #ccc;
	}
	.table-tipster-team {
		border-right: none !important;
		
	}

}

@media (max-width:818px) {
	.top-news-list {
		width: 46%;
	}
	.top-news-list:nth-child(5), .col-top-news:nth-child(5){
		display: none !important;
	}
	.team-name-tipster{
		text-align: center;
	}

}



@media (max-width: 993px) {

	.content-right {
		padding: 0;
	}
}

@media (max-width: 1034px) {

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
		width: 100%;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px;
	}
	.dropdown-menu>li>a {
		display: block;
		clear: both;
		font-weight: 400;
		white-space: nowrap;
	}
	.dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		border: 0;
		box-shadow: none;
	}
	.navbar-login{
		margin:auto !important;
	}
	.table-tipster-team{
		border-right:1px solid #CCC;
	}
	.col-date-tipster{
		border-bottom:1px solid #CCC;
	}
}


@media (max-width: 991px) {
	.container { width: 100%;}
}

@media (max-width: 767px) {

	#div-top-right {
		width: 100% !important;
		margin-right: 0 !important;
	}
	#div-top-fb {
		margin-top: 10px;
	}
	#input-top-search {
		float: left;
		width: 60%;
		margin-right:10px;
	}
	.navbar-form .form-group {
		margin-bottom: 0;
	}
}

@media (max-width: 674px) {
	#div-top-fb {
		width: 100%;
		margin-top: -17px;
		margin-bottom: 15px;
	}
	#div-top-search, #div-top-search .btn {
	    width: 100%;	
	}
	#input-top-search {
		width: 100%;
		margin-bottom: 10px;
	}

}

@media (max-width: 812px) {
	#logo { width: 100%; text-align: center;}
	#div-top-right { width: 100%; margin: 10px 0 0 0;}
}



@media (min-width: 895px) {
	.team-name-tipster{
		white-space: nowrap;
	}
	#input-top-search {
		min-width: 215px;
	}
}

@media (min-width: 992px) and (max-width: 1193px) {

	.container {
		width: 100%;
	}
	
}

@media (min-width: 768px){
	.dropdown-menu{
		position: absolute !important;
	}
}

/* Agent Page */
#agent h1 {
	margin-top: 0;
	margin-bottom: 5px;
	padding-top: 0;
	color: #2F7BBF;
}

#agent p {
	margin:0;
}

.text1 {
	font-size: 18px;
	color: #2F7BBF;
	line-height: 22px;
}

#agent .text2 {
    font-family: 'Oswald',helvetica, arial;
    font-size: 56px;
    line-height: 56px;
    color: #aaa;
    margin-bottom: 5px;
}

#agent .text3 {
	font-size: 11px;
	color: #999;
}

.sticky-nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

#agent .btn-blue {
	/*margin-right: 10px;*/
}

.top-reviews-list {
	padding: 10px;
	margin-top: 10px;
	background: #333;
}

.top-reviews-01 div {
	float: none;
	display: inline-block;
    vertical-align: middle;
}

.top-reviews-01 {
	padding: 10px 0;	
	color: #fff;
	border-bottom: 1px solid #434343;
}

.top-reviews-01 .user-pic img {
	width: 47px;
	height: 47px;
	border-radius: 50%;
}

.top-reviews-01 .date {
	font-size: 12px;
}

.top-reviews-01 .fa {
	color: #fff;
}

.top-reviews-01 .approve {
	padding: 5px;
	background: #1ea153;
	border-radius: 5px;	
	text-align: center;
	cursor: pointer;
}

.top-reviews-01 .approve:hover {
	background: #27c366;
}

.top-reviews-01 .disapprove {
	padding: 5px;
	background: #c63333;
	border-radius: 5px;	
	text-align: center;
	cursor: pointer;
}

.top-reviews-01 .disapprove:hover {
	background: #e33939;
}

.top-reviews-02 {
	padding: 10px;
	color: #fff;
}
.p-a-w-1{
	background: #fdc703; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdc703 0%, #f79621 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fdc703 0%,#f79621 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fdc703 0%,#f79621 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc703', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}
.p-a-w-1:after{
	background: url(../images/banner-style-01.png) no-repeat right;
}
.p-a-w-2{
	
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */

}
.p-a-w-2:after{
	background: url(../images/banner-style-02.png) no-repeat right;
}
.p-a-w-3{
	
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

}
.p-a-w-3:after{
	background: url(../images/banner-style-03.png) no-repeat right;
}
.promo-agen-wrapper{
	padding: 10px;
	display: block;
	
	border:1px solid #999;
	-webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-top:15px;
	border-radius:3px;
}
.promo-agen-wrapper:after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: contain;
	z-index: 1;
	top:0;
	right: 0;

}
.promo-agen-wrapper > .big-text{
	font-family: 'Russo One', sans-serif;
	font-size:4em;
	color:#FFF;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "liga", "kern";
	font-weight: bold;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	margin:-10px 0;
	position: relative;
	z-index: 2;

}
.buttons-agen-header .btn{
	/*margin-right: 10px;*/
}
.promo-agen-wrapper > .title{
	position: relative;
	z-index: 2;
	color:#FFF;
	font-size:1.5em;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
/**/
}
.p-a-w-1 > .game{
	background: #f79621;
}
.p-a-w-2 > .game{
	background: #1277E2;
}
.p-a-w-3 > .game{
	background: #cc0000;
}
.promo-agen-wrapper > .game{
	display: inline-block;
	padding:5px;
	border:1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	color:#FFF;
	
	font-size: 0.8em;
	text-transform: uppercase;
}
.term-content{
	padding:1px 5px;
	position: relative;
	z-index: 2;
	color: rgba(255,255,255,0.8);
	background: rgba(0,0,0,0.8);
	font-size: 0.9em;	
}
.term-content > .term-text{
	margin-right:5px;
}
.no-radius-bot{
	border-bottom-width: 0;
	border-bottom-left-radius :0px;
	border-bottom-right-radius :0px;
}
.radius-bot{
	border-bottom-left-radius :3px;
	border-bottom-right-radius :3px;
}
#promoDiv{
	margin-bottom:15px;
}
.page-all{
	padding:6px 24px !important;
}

#policyDiv h1{
	font-size: 1.15em !important; 
}



/* Modal */
#myModal .modal-login  {
	border-left: 1px solid #ccc;
}

@media (max-width: 1200px) {
	#myModal .modal-login {
		padding-top: 10px;
		margin-top: 20px;
		border-top: 1px solid #ccc;
		border-left: none;
	}
}

/* Statistics */
#statistics h2 {
	margin-top: 0;
	text-transform: uppercase;
}

#statistics #info,  #statistics #prediction{
	
	background: #333;
}

#statistics #info h4, #statistics #prediction h4, #statistics #prediction h5{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
#statistics #tendency h5{
	text-transform: uppercase;
	text-align: center;
}

#statistics #info td {
	padding: 4px;
	color: #fff;
}
.chart_tendency{
	padding:10px;
	width: 100%;
	display: block;
}
.chart_tendency div{
	height:20px;
	float: left;
	display: inline-block;
}
#statistics #info td {
	border-top: 1px solid #434343;
}
.percent_prediction{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color:#FFF;
	padding:10px 5px 5px 5px;
}
#prediction .text-prediction{
	color:#FFF;
	padding:10px;
}
#prediction .panel-title{
	display: inline-block;
}
#prediction .popover{
	color:#333;
}
#popup-prediction{
	text-decoration: none;
	cursor: pointer;
	color:#FFF;
	/*border-radius: 15*/px;
	display: inline-block;
}
#statistics #info td:nth-child(2) {
	font-weight: bold;
}

.form-icon {
	padding: 3px;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}

.form-icon-lg {
	padding: 3px;
	width: 25px;
	height: 25px;
	color: #fff;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}


.form-loss, .lose ,.form-L{
	background: #f23e3e;
	color: #fff;
}

.form-draw, .draw ,.form-D{
	background: #f2863e;
	color: #fff;
}

.form-win, .win ,.form-W{
	background: #7bcb40;
	color: #fff;
}

.form-info {
	background: #ccc;
	color: #fff;
}

.form-info:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
.bg-gray{
	background: #ddd;
}
.strong{
	font-weight: bold;
}
.flag {
	padding: 15px;
	text-align: center;
}

.nav_description a {
	padding: 2px 5px;
	color: #fff;
	display: inline-block;
	background: #4b99dc;
	border-radius: 5px;
	text-decoration: none;
	font-size: 11px;
}

.nav_description a:hover {
	background: #306a9c;
}

#statistics .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #333;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

#statistics .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

#statistics .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0 !important;
    border-radius: 0;
}

#statistics .tab-content .table td:nth-child(1) {
	width: 5%;
}

#statistics .tab-content .table td:nth-child(2) {
	width: 12%;
}

#statistics .tab-content .table td:nth-child(3) {
	width: 25%;
}

#statistics .tab-content .table td:nth-child(4) {
	text-align: right;
	width: 24%;
}

#statistics .tab-content .table td:nth-child(5) {
	text-align: center;
	width: 10%;
}

#statistics .tab-content .table td:nth-child(6) {
	text-align: left;
	width: 24%;
}

#statistics .tab-content .table td:nth-child(7) {
	width: 5%;
	text-align: right;
}

.team-name-tendency{
	padding:7px 0;
}
.form-upload{
	padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
}
.required label:after { 
   content:"*";
   color:red;
}
#max_description{
	
}
.description_char_left{
	color:#999;
}
.image-lightbox{
	cursor: pointer;
}
.req_form .input-group{
	float: left !important;
}
.req_form .input-group-addon, #search_advance .input-group-addon{
	padding:6px;
}
.float-left{
	float: left !important;
}
.search-requirement{
	display: none;
	margin:10px;
	padding:10px;
	background: #f3f4f5;
	border-radius:5px;
	border:1px solid #EEE;
}
.req_form{

	margin-bottom:5px;
}
.req_form label, .req_form input, .req_form .input-group-addon{
	font-size:0.85em;
}
.prefix-rupiah, .suffix-persen{
	display: none;
}
.note-search{
	display: none;
	color:#444;
}

/* Dafterkan */
#daftarkan a {
	padding: 25px 10px;
	text-transform: uppercase;
}

/* Dokter Togel */
#togel-wrap-content {
	padding: 10px;
	min-height: 110px;
	background: #2f7bbf;
	color: #fff;
}

.title-togel-wrap {
	margin-top: 10px;
	font-size: 12px;
}

#cal-togel {
    padding: 10px 5px;
    margin-right: 10px;
    width: 20%;
    float: left;
    position: relative;
    border-radius: 4px;
    background: rgba(245,245,245,0.9);
    -moz-box-shadow: inset 0 0 3px #333;
    -webkit-box-shadow: inset 0 0 3px #333;
    box-shadow: inset 0 0 3px #333;
}

#cal-togel .bln-togel {
    font-family: 'Oswald';
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #1D67AD;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;    
    border-bottom: 1px solid #1D67AD;
}

#cal-togel .tgl-togel {
	font-family: 'Oswald';
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #1D67AD;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

#cal-togel .thn-togel {
	font-family: 'Oswald';
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: #1D67AD;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px; 
    line-height: 14px;
}

.nmr-togel {
	margin-right: 10px;
    float: left;
    font-family: 'Oswald';
    font-size: 50px;
    color: #FFF;
    line-height: 50px;
}

.besarkecil {
	margin: 5px 0;
}

.besarkecil, .ganjilgenap {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.darkblue {
	padding: 10px;
	background: #114a7d;
	text-align: center;
}

.darkblue a {
	color: #fff;
}
.data-game{
	padding-top:15px;
}
.table-champion:nth-child(even) {
	background: #F3F4F5;
}
.panel-data-game ul li{
	margin-bottom:-1px;
}
.out-link-div{
	margin-bottom:15px
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
