@import "compass";
@import "tab.scss";

$main-color : #246114;
$bg-color: #edeff4;
$gold-color: #fed537;
$silver-color: #c9c9c9;
$copper-color: #C87533;

body
{
  background-color: $bg-color;
}
a
{
  &:hover,&:focus
  {
    text-decoration: none;
  }
}
/* ----- mixin ----------*/
@mixin square-size($size)
{
  width: $size;
  height: $size;
}
@mixin skew-before()
{
   content: "";
   position: absolute;
   display: block;
   top: 0;
   bottom: 0;
   width: 40px;
   background-color: #38a9ff;
   margin-left: 0;
   z-index: -1;
   @include skew(-25deg , 0);
}
/*----- padding & margin set ----*/
.padding
{
  padding: 0;
}
.padding-5
{
  padding: 5px;
}
.padding-10
{
  padding: 10px;
}
.padding-15
{
  padding: 15px;
}
.margin
{
  margin: 0;
}
.margin-5
{
  margin: 5px;
}
.margin-10
{
  margin: 10px;
}
.margin-15
{
  margin: 15px;
}
.margin-top-5
{
  margin-top: 5px;
}
.margin-top-10
{
  margin-top: 10px;
}
.margin-top-15
{
  margin-top: 15px;
}
.margin-bottom-15
{
  margin-bottom: 15px;
}

.section
{
  background-color: #FFFFFF;
  @include border-radius(4px);
  @include box-shadow(rgba(0,0,0,.1) 0 1px 2px);
}


/* ------ Header -----*/
.header
{
  background-color: #1e2024;
}
.contact
{
  text-align: right;
  &>a
  {
    &::before
    {
      content: "\2F";
      display: inline-block;
      color: #6b6d70;
      margin: 0 16px 0 14px;
    }
  }
}
.top-tab
{
  background-color: #292c31;
  padding: 10px 0 10px 5px;
  color: #f1f1f1;
  a{
    color: #f1f1f1;
    font-size: 12px;
  }
}
.header_logo
{
  position: absolute;
  left: 16px;
  bottom: 20px;
  z-index: 3;
  img
  {
    width: 154px;
  }
}

.main-tab
{
  border-color: transparent;
  @include border-radius(0px);
  @include box-shadow(rgba(0,0,0,.1) 0 2px 6px);
  .container
  {
    position: relative;
  }
  .main-menu
  {

    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &>li
    {
      position: relative;
      float: left;
      &>a
      {
        display: block;
        color: white;
        padding: 20px 45px 20px 0;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        z-index: 5;
      }
    }
    &>li
    {
      position: relative;
     &.active
     {
       &>a
       {
         background-color: #38a9ff;
         z-index: 5;
         margin-right: 16px;
         &::before
         {
           @include skew-before;
           left: -25px;
         }
         &::after
         {
           @include skew-before;
           background-color: #292c31;
           right: 0;
           z-index: 1;
         }
       }
     }
    }
  }
  .warpper-main-menu
  {
    max-height: 61px;
    position: relative;
    background-color: #292c31;
    text-align: right;
    z-index: 2;
    &::before
    {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      width: 218px;
      background-color: #1e2024;
      left: -25px;
      margin-left: 0;
      @include skew(-25deg , 0);
    }
  }
  &::after
  {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #292c31;
  }
}
/* ------ !!!!! Header -----*/

.topic-title
{
  padding: 15px 0 15px 15px;
  background-color: #5c5c5c;
  border-bottom: 3px solid $main-color;
  h2
  {
    font-size: 16px;
    color: #FFFFFF;
  }
}
.banner-top
{
  position: relative;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-bottom: 9px;
  margin-top: 9px;
  height: 90px;
  overflow: hidden;
  background-color: #00CC00;
  float: right;
  img
  {

  }
}
/* ------ Footer -----*/
.footer
{
  margin-top: 15px;
  padding-top: 20px;
  background-color: #1e2024;
  color: rgba(154, 157, 162, 0.8);
  .title
  {
   color: #FFFFFF;
  }

  p
  {
    color: rgba(154, 157, 162, 0.8);
  }
  .footer-tab
  {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    a
    {
      color: #FFFFFF;
      &:hover
      {
        color: #38a9ff !important;
      }
    }
  }
}
.warper-ribbon
{
  position: relative;
  width: 20px;
}
.ribbon
{
  display: block;
  position: absolute;
  width: 26px;
  height: 28px;
  background-color: $gold-color;
  top: -20px;
  left: 5px;
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  color: #000;
  font-weight: 400;
  &::before
  {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    border-top: 6px solid $gold-color;
    border-right: 13px solid transparent;
  }
  &::after
  {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    right: 0;
    border-top: 6px solid $gold-color;
    border-left: 13px solid transparent;
  }
  &.silver
  {
    @extend .ribbon;
    background-color: $silver-color;
    &::before
    {
      border-top: 6px solid $silver-color;
    }
    &::after
    {
      border-top: 6px solid $silver-color;
    }
  }
  &.copper
  {
    @extend .ribbon;
    background-color: $copper-color;
    &::before
    {
      border-top: 6px solid $copper-color;
    }
    &::after
    {
      border-top: 6px solid $copper-color;
    }
  }
}
/*------ Profile -----*/
.shot-profile
{
  padding: 10px;
  .full-name
  {
    font-size: 18px;
  }
  .alias
  {
    margin-top: 10px;
    color: #5f5f5f;
  }
  .line
  {
    border-right:0.5px dashed #a7a7a7;
  }
  .level
  {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
  }
  .point
  {
    @extend .level;
  }
  .number
  {
    font-size: 30px;
  }
}
.reward
{
  padding-top: 15px;
  padding-bottom: 15px;
  .reward-title
  {
    text-align: center;

  }
}

/*------ chat box -----*/
.warpper-chat
{
  @include box-shadow(rgba(0,0,0,.1) 0 1px 2px);
}
.chat-box
{
  min-height: 400px;
  padding: 10px;
  &>.chat-message
  {
    margin-bottom: 5px;
    &.admin
    {
      color: $main-color !important;
      text-decoration: underline;
    }
    .chat-user
    {
      color: #afafaf;
      display: inline-block;
      margin-right: 5px;
    }
    &>img
    {
      @include square-size(30px);
    }
  }
}
.warpper-input-message
{
  background: hsla(0, 0%, 93.3%, .4);
  &>.text-word
  {
    padding-left: 50px;
    padding-bottom: 10px;
    color: #8a8a8a;
  }
}
.input-message
{
  position: relative;
  display: table;
  width: 100%;
  height: 60px;
  border-collapse: separate;
  border-top: 0.5px solid #c9c9c9;

  padding-top: 10px;
  &>input
  {
    position: relative;
    display: table-cell;
    outline: 0;
    width: 100%;
    min-height: 40px;
    padding-left: 10px;
    z-index: 2;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 1px solid #c9c9c9;
    margin-left: 5px;
    background-color: transparent;
  }
  &>span
  {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    display: table-cell;
    width: 1%;
    &>img
    {
      @include square-size(30px);
      margin-left: 5px;
    }
    &>button
    {
      border-color: transparent;
      @include border-radius(0);
      min-height: 40px;
      background-color: transparent;
      font-size: 18px;
      color: #8a8a8a;
      &>:hover,&>:focus,&>:active
      {
        border:transparent;
        outline: 0;
      }
    }
  }
}

.nav-title
{
  position: relative;
  padding: 15px 0 15px 20px;
  display: table;
  background-color: #ffffff;
  font-size: 20px;
  border-left:5px solid #38a9ff;
  h2
  {
    margin: 0;
    display: table-cell;
    width: 100%;
    font-size: 18px;
    color: #31404b;
    &>.title-text
    {
      display: inline-block;
      height: 32px;
      margin-bottom: -10px;
    }
  }
  span
  {
    display: table-cell;
    &>input
    {
      outline: 0;
      border-color: transparent;
      min-height: 42px;
      font-size: 16px;
      padding-right: 10px;
      text-align: right;
      margin-bottom: -14px;
      margin-top: -10px;
      border-top-left-radius: 5px;
      border-bottom: 0.5px solid #c9c9c9;
    }
  }
}
.nav-block
{
  display: block;
}
.nav-footer
{
  padding: 10px 0 10px 0;
  background: #f7f9fa;
  border-top: 0 solid transparent;
  padding-left: 15px;
  position: relative;
}
.pager
{
  margin: 0;
  display: inline-block;
  text-align: left;
  float: right;
  padding-right: 20px;
  &>li
  {
    &>a
    {
      padding: 0 5px;
      color: #000000;
    }
  }
}
.more
{
  margin-right: 10px;
}
/* ----- Table ------*/
.table-custom
{
  width: 100%;
  th
  {
    padding: 13px 0 13px 0;
    color: #000000;
  }
  td
  {
    padding: 7px 0 7px 0;
    border-top: 0.5px solid #efefef;
    &.row-leagues
    {
      padding-left: 20px;
      background-color: #989898;
      color: #FFFFFF;
      &>img
      {
        @include square-size(30px);
        margin-right: 15px;
      }
    }
  }
  .match-date
  {
    color: #8a8a8a;
    font-size: 10px;
    &.text-success
    {
      color: green;
    }
  }
  .match-price
  {
    img
    {
      width: 10px;
    }
  }
  .channel
  {
    img
    {
      height: 16px;
    }
  }
  a
  {
    color: #31404b;
  }
}

.table-score
{
  a
  {
    color: #2f2f2f;
  }
}
.table-rank
{
  td
  {
    padding: 10px 0 10px 0;
    img
    {
      @include square-size(20px);
    }
  }
}
.small-text
{
  color: #8a8a8a;
  font-size: 10px;
}
.hilight
{
  p
  {
    padding: 5px;
  }
}

.badge-none
{
  background-color: transparent;
  color: #616161;
  border: 0.5px solid rgb(56, 169, 255);
  font-size: 12px;
}
.label
{
  font-weight: 300 !important;
  &.label-success
  {
    background-color: #87d887;
  }
}
.bet-win
{
  font-weight: 700;
  color: #ff6d6d;
  text-decoration: underline;
}

/*----- TAB -----*/
/* Tabs panel */

/***** LOGIN BOX *****/
.account-box
{
  z-index: 3;
  font-size: 13px !important;
  font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
  background-color: #ffffff;
  padding: 20px;
}
.form-signin
{
  .form-control
  {
    outline: none;
    border: transparent;
    @include border-radius(0);
    @include box-shadow(none);
    border-bottom: 1px solid rgba(0,0,0,.075);
    transition: .5s ease;
    &:focus
    {
      border-bottom: 1px solid rgba(213, 23, 19, 0.6);
    }
  }
}

.forgotLnk
{
  margin-top: 10px;
  display: block;
}

.purple-bg
{
  background-color: #6E329D;
  color: #fff;
}
.or-box
{
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  margin-top:20px;
}
.or
{
  color: #666666;
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 40px;
  left: 45%;
}
.account-box .btn:hover
{
  color: #fff;
}
.btn-facebook
{
  background-color: #3F639E;
  color: #fff;
  font-weight:bold;
}
.btn-google
{
  background-color: #454545;
  color: #fff;
  font-weight:bold;
}

.alert
{
  &.error
  {
    @include border-radius(0);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 6px;
    border-color: transparent;
  }

}

.account-box
{
  label
  {
    color: #929292;
    font-size: 12px;
  }
}